<div><%= @game_rental.user.username%></div>
<div><%= @game_rental.game.title%></div>
<div><%= form_for @game_rental do |f|%>
<% f.submit %>
<% end %>
<div>Enjoying the game?</div>
<%=link_to "Leave a review (optional)", new_game_rental_review_path(@game_rental) %>