<h1> Games List </h1>

<div class ="gallery">
<% @games.each do |game|%>
<%= link_to game_path(game) do %>
<%= image_tag game.image, class: "gallery-image" %>
<%= game.title%>
<% end %>

<% end %>
</div>


