// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.gameindexlinks1 {
    padding-top: 20px;
    text-align: center;
}

.gameindexlinks2 {
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}

