// Place all the styles related to the GameRentals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.review-div {
    padding-top: 20px;
}

.rental-button {
    padding-top: 20px;
}

.rental-box {
    text-align: center;
}


h1 {
    font-family: 'Anton', sans-serif;
}

